<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Administration</li>
        <li class="active">
            <a href="{{path('mika_platform_adminCommande')}}">Commandes</a>
        </li>
        <li class="active">
            <a href="{{path('mika_platform_adminUser')}}">Clients</a>
        </li>
    </ul>
</div>
