/* general */
ul
{
	list-style: none;
}
.droite
{
	text-align: right;
}
.center
{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
/* header */
header
{
	color: #f6f6f6;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
}
header ul
{
	margin:0;
	display: flex;
	flex-wrap: nowrap;
}
header img {
	width: 100%;
}
.product img
{
	height: 15em;
	width: auto;
}
header a
{
	color: #f6f6f6;
	text-decoration: none;
}
header input , header button
{
	background-color: white;
	color: black;
	text-decoration: none;
}
.detail img
{
	max-width: 60em;
}
.transparent select
{
	border: none;
	color: #2979b1;
	margin-left: 10px;
}
/* body */
body{
	margin-top: 5em;
	background-image: url("../img/bac.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;

}

.backTable{
	background-color: #dee0dd;
}
.bodycenter
{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
/* footer */


