# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: toutenbois
    database_user: root
    database_password: maya
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_encryption: ssl
    mailer_host: smtp.gmail.com
    mailer_user: mikagti16@gmail.com
    mailer_password: maya007$

    # A secret key that's used to generate certain security-related tokens
    secret: 3bdc6d4b02e706cacbad489d67bb2948cb700c26
